.FAQ__item {
    transition: 0.3s;
    position: relative;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(89.87deg, #e1009b 0.08%, #4000ff 146.96%);
    &.active {
        &::before {
            opacity: 1;
        }
        .FAQ__item-content {
            height: auto;
            padding: 36px;
            max-height: unset;
        }
        .FAQ__item-icon {
            &::before,
            &::after {
                background: white;
            }
            &::after {
                transform: rotate(90deg);
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(89.87deg, #e1009b 0.08%, #4000ff 146.96%);
        opacity: 0;
        z-index: -1;
        transition: 0.3s;
    }
}
.FAQ__item-header {
    cursor: pointer;
    padding: 28px 36px;
    border-bottom: 1px solid #120d2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FAQ__item-heading {
    font-family: "Orbitron", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: white;
    font-weight: 700;
    text-shadow: 0px 0px 10px #9054ff;
}
.FAQ__item-icon {
    position: relative;
    width: 32px;
    height: 32px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 4px;
        background: linear-gradient(89.87deg, #e1009b 0.08%, #4000ff 146.96%);
        left: 0;
        top: 14px;
        transition: 0.3s;
    }
    &::after {
        width: 4px;
        height: 32px;
        top: 0;
        left: 14px;
        background: linear-gradient(89.87deg, #e1009b -100%, #4000ff 300%);
    }
}
.FAQ__item-content {
    transition: 0.3s;
    height: 0;
    padding: 0 36px;
    max-height: 0;
    overflow: hidden;
}
.FAQ__item-text {
    font-size: 20px;
    line-height: 28px;
    color: white;
}
@media (min-width: 300px) and (max-width: 787px) {
    .FAQ__item {
        &.active {
            .FAQ__item-content {
                padding: 16px 20px;
            }
        }
    }
    .FAQ__item-header {
        padding: 16px 24px;
    }
    .FAQ__item-heading {
        font-size: 18px;
        line-height: 18px;
    }
    .FAQ__item-icon {
        width: 24px;
        height: 24px;
        &::before,
        &::after {
            width: 24px;
            height: 2px;
            top: 11px;
        }
        &::after {
            width: 2px;
            height: 24px;
            left: 11px;
            top: 0;
        }
    }
    .FAQ__item-content {
        padding: 0 24px;
    }
    .FAQ__item-text {
        font-size: 16px;
        line-height: 22px;
        color: white;
    }
}
@media (min-width: 768px) and (max-width: 991px)  {
    .FAQ__item {
        &.active {
            .FAQ__item-content {
                padding: 20px 24px;
            }
        }
    }
    .FAQ__item-header {
        padding: 16px 24px;
    }
    .FAQ__item-heading {
        font-size: 18px;
        line-height: 18px;
    }
    .FAQ__item-icon {
        width: 24px;
        height: 24px;
        &::before,
        &::after {
            width: 24px;
            height: 2px;
            top: 11px;
        }
        &::after {
            width: 2px;
            height: 24px;
            left: 11px;
            top: 0;
        }
    }
    .FAQ__item-content {
        padding: 0 24px;
    }
    .FAQ__item-text {
        font-size: 16px;
        line-height: 22px;
        color: white;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .FAQ__item {
        &.active {
            .FAQ__item-content {
                padding: 20px 24px;
            }
        }
    }
    .FAQ__item-header {
        padding: 20px 28px;
    }
    .FAQ__item-heading {
        font-size: 18px;
        line-height: 18px;
    }
    .FAQ__item-icon {
        width: 24px;
        height: 24px;
        &::before,
        &::after {
            width: 24px;
            height: 2px;
            top: 11px;
        }
        &::after {
            width: 2px;
            height: 24px;
            left: 11px;
            top: 0;
        }
    }
    .FAQ__item-content {
        padding: 0 24px;
    }
    .FAQ__item-text {
        font-size: 16px;
        line-height: 22px;
        color: white;
    }
}
@media (min-width: 1200px) and (max-width: 1599px) {
    .FAQ__item {
        &.active {
            .FAQ__item-content {
                padding: 28px;
            }
        }
    }
    .FAQ__item-header {
        padding: 20px 32px;
    }
    .FAQ__item-heading {
        font-size: 20px;
        line-height: 20px;
    }
    .FAQ__item-icon {
        width: 24px;
        height: 24px;
        &::before,
        &::after {
            width: 24px;
            height: 2px;
            top: 11px;
        }
        &::after {
            width: 2px;
            height: 24px;
            left: 11px;
            top: 0;
        }
    }
    .FAQ__item-content {
        transition: 0.3s;
        height: 0;
        padding: 0 32px;
        max-height: 0;
        overflow: hidden;
    }
    .FAQ__item-text {
        font-size: 18px;
        line-height: 24px;
        color: white;
    }
}
