.lineageItem {
    padding: 60px 0;
    &.reversed {
        .lineageItem__content {
            order: 2;
            padding-right: 0;
            padding-left: 80px;
        }
        .lineageItem__image-block {
            order: 1;
        }
    }
    &.tth {
        .lineageItem__background-image {
        }
    }
}
.lineageItem__content {
    order: 1;
    padding-right: 80px;
    position: relative;
    z-index: 1;
}
.lineageItem__heading {
    width: min-content;
    background: linear-gradient(90deg, #8f53ff 0.05%, #6076e7 100.16%);
    padding: 12px 16px;
    margin-bottom: 36px;

    font-size: 24px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
}
.lineageItem__description {
    margin-bottom: 52px;
    position: relative;

    font-size: 24px;
    line-height: 36px;
}
.lineageItem__units {
    font-family: "Orbitron", sans-serif;
    color: #9054ff;
    font-size: 24px;
}
.lineageItem__image-block {
    order: 2;
    position: relative;
}
.lineageItem__image-wrapper {
    height: 460px;
}
.lineageItem__image {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: 100%;
}
.lineageItem__background-image {
    position: absolute;
    left: 50%;
    bottom: 50%;
    height: 200%;
    width: 200%;
    transform: translateY(calc(40% + 40px)) translateX(-50%);
    background: linear-gradient(90deg, rgba(11, 6, 37, 0.2) 0.66%, rgba(11, 6, 37, 0) 57.69%, rgba(11, 6, 37, 0.2) 100%),
    linear-gradient(180deg, rgba(#0b0625,0.8) 0%, rgba(18, 13, 43, 0) 47.46%, rgba(#0b0625,0.8) 96.42%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: lighten;
    opacity: 0.8;
}
@media (min-width: 300px) and (max-width: 787px) {
    .lineageItem {
        padding: 40px 0;
        margin-bottom: 36px;
        &.reversed {
            .lineageItem__content {
                padding-right: 0;
                padding-left: 0;
            }
            .lineageItem__image-block {
                &::after {
                    left: 50%;
                }
            }
            .lineageItem__image-wrapper {
                justify-content: center;
                padding-left: 0;
                padding-right: 0;
            }
            .lineageItem__background-image {
                left: calc(50%);
            }
        }
    }
    .lineageItem__content {
        margin-top: 24px;
        order: 2;
        padding-right: 0;
        padding-left: 0;
    }
    .lineageItem__heading {
        padding: 12px 16px;
        margin: 0 auto 20px;

        font-size: 16px;
    }
    .lineageItem__description {
        margin: 0 auto 20px;
        max-width: 480px;
        padding: 0 20px;

        font-size: 16px;
        text-align: center;
        line-height: 140%;
    }
    .lineageItem__units {
        font-size: 20px;
        text-align: center;
    }
    .lineageItem__image-block {
        order: 1;
    }
    .lineageItem__image-wrapper {
        height: 300px;
        padding-right: 0;
        display: flex;
        justify-content: center;
    }
    .lineageItem__background-image {
        width: 200%;
        height: 200%;
        transform: translateY(calc(50% - 32px)) translateX(-50%);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .lineageItem {
        padding: 48px 0;
        margin-bottom: 36px;
        &.reversed {
            .lineageItem__content {
                padding-right: 0;
                padding-left: 0;
            }
            .lineageItem__image-wrapper {
                justify-content: center;
                padding-left: 0;
                padding-right: 0;
            }
        }
        &.tth {
            .lineageItem__background-image {
                width: 210%;
                height: 210%;
                transform: translateY(50%) translateX(-50%);
            }
        }
    }
    .lineageItem__content {
        margin-top: 40px;
        order: 2;
        padding-right: 0;
        padding-left: 0;
    }
    .lineageItem__heading {
        padding: 12px 20px;
        margin: 0 auto 28px;

        font-size: 28px;
    }

    .lineageItem__description {
        margin: 0 auto 32px;
        max-width: 680px;

        font-size: 20px;
        text-align: center;
        line-height: 28px;
    }
    .lineageItem__units {
        font-size: 24px;
        text-align: center;
    }
    .lineageItem__image-block {
        order: 1;
    }
    .lineageItem__image-wrapper {
        height: 400px;
        padding-right: 0;
        display: flex;
        justify-content: center;
    }
    .lineageItem__image {
        display: block;
        margin: 0;
        position: relative;
        z-index: 1;
        height: 100%;
    }
    .lineageItem__background-image {
        width: 220%;
        height: 220%;
        transform: translateY(calc(50% - 32px)) translateX(-50%);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .lineageItem {
        padding: 48px 0;
        &.reversed {
            .lineageItem__content {
                padding-left: 20px;
            }
            .lineageItem__image-block {
            }
            .lineageItem__image-wrapper {
                display: flex;
                justify-content: flex-start;
                padding-left: 20px;
                padding-right: 0;
            }
            .lineageItem__background-image {
                transform: translateY(calc(40% + 25px)) translateX(calc(-55% + 15px));
            }
        }
        &.tth {
            .lineageItem__background-image {
                height: 200%;
                width: 200%;
                transform: translateY(50%) translateX(-45%);
            }
        }
    }
    .lineageItem__content {
        padding-right: 20px;
    }
    .lineageItem__heading {
        padding: 10px 16px;
        margin-bottom: 32px;

        font-size: 20px;
    }
    .lineageItem__description {
        margin-bottom: 40px;

        font-size: 18px;
        line-height: 26px;
    }
    .lineageItem__units {
        font-size: 20px;
    }
    .lineageItem__image-wrapper {
        height: 340px;
        padding-right: 20px;
        display: flex;
        justify-content: flex-end;
    }
    .lineageItem__image {
        display: block;
        margin: 0;
        position: relative;
        z-index: 1;
        height: 100%;
    }
    .lineageItem__background-image {
        transform: translateY(calc(40% + 25px)) translateX(calc(-45% - 15px));
    }
}
@media (min-width: 1200px) and (max-width: 1599px) {
    .lineageItem {
        padding: 60px 0;
        &.reversed {
            .lineageItem__content {
                padding-left: 20px;
            }
            .lineageItem__image-wrapper {
                display: flex;
                justify-content: flex-start;
                padding-left: 40px;
                padding-right: 0;
            }
            .lineageItem__background-image {
                transform: translateY(calc(40% + 40px)) translateX(calc(-55% - 5px));
            }
        }
        &.tth {
            .lineageItem__background-image {
                width: 225%;
                height: 225%;
            }
        }
    }
    .lineageItem__content {
        padding-right: 60px;
    }
    .lineageItem__heading {
        padding: 10px 16px;
        margin-bottom: 32px;

        font-size: 20px;
    }
    .lineageItem__description {
        margin-bottom: 40px;

        font-size: 20px;
        line-height: 28px;
    }
    .lineageItem__units {
        font-size: 20px;
    }
    .lineageItem__image-wrapper {
        height: 360px;
        padding-right: 40px;
        display: flex;
        justify-content: flex-end;
    }
    .lineageItem__image {
        display: block;
        margin: 0;
        position: relative;
    }
    .lineageItem__background-image {
        transform: translateY(calc(40% + 40px)) translateX(calc(-45% + 0px));
    }
}
@media (min-width: 1480px) and (max-width: 1599px) {
    .lineageItem {
        &.reversed {
            .lineageItem__background-image {
                transform: translateY(calc(40% + 40px)) translateX(calc(-55% - 35px));
            }
        }
        &.tth {
            .lineageItem__background-image {
                width: 225%;
                height: 225%;
            }
        }
    }
    .lineageItem__background-image {
        transform: translateY(calc(40% + 40px)) translateX(calc(-45% + 25px));
    }
}
