.metaverseItem {
    padding: 44px 40px;
    height: 100%;
    &.styled {
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, #8f53ff, #6076e7);
        background: rgba(87, 35, 171, 0.1);
        backdrop-filter: blur(30px);
    }
}
.metaverseItem__header {
    position: relative;
    width: min-content;
    &::before {
        content: "";
        position: absolute;
        height: 112px;
        width: 112px;
        border-radius: 50%;
        left: 32px;
        top: 36px;
        background: linear-gradient(45deg, #8f53ff 0.05%, #6076e7 100.16%);
        animation: floating1 2.5s ease-in-out infinite;
    }
}
.metaverseItem__image {
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
}
.metaverseItem__description {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-right: 16px;

    color: rgba(#d6d6d6, 0.6);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}
.metaverseItem {
    &.styled {
        .metaverseItem__header {
            &::before {
                animation: floating2 2.5s ease-in-out infinite;
                background: linear-gradient(90deg, #8f53ff 0.05%, #6076e7 100.16%);
                left: 24px;
            }
        }
    }
}
@keyframes floating1 {
    0% {
        transform: translatey(-16px);
    }
    50% {
        transform: translatey(0);
    }
    100% {
        transform: translatey(-16px);
    }
}
@keyframes floating2 {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-16px);
    }
    100% {
        transform: translatey(0px);
    }
}
@media (min-width: 300px) and (max-width: 787px) {
    .metaverseItem {
        padding: 40px 32px 48px;
        max-width: 340px;
        margin: 0 auto;
    }
    .metaverseItem__header {
        margin: 0 auto;
        transform: translateX(28px);
        &::before {
            height: 80px;
            width: 80px;
            left: 20px;
            top: 36px;
        }
    }
    .metaverseItem__image {
        margin-bottom: 0px;
        height: 140px;
    }
    .metaverseItem__description {
        padding-right: 0;

        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }
    .metaverseItem {
        &.styled {
            .metaverseItem__header {
                &::before {
                    left: 24px;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .metaverseItem {
        padding: 28px 32px 36px;
        &.styled {
            border: none;
            border-image-source: none;
            background: none;
            backdrop-filter: none;
        }
        &.md-styled {
            border: 2px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to right, #8f53ff, #6076e7);
            background: rgba(87, 35, 171, 0.1);
            backdrop-filter: blur(30px);
        }
    }
    .metaverseItem__header {
        &::before {
            height: 80px;
            width: 80px;
            left: 40px;
            top: 36px;
        }
    }
    .metaverseItem__image {
        margin-bottom: 0px;
        height: 140px;
    }
    .metaverseItem__description {
        padding-right: 16px;

        font-size: 18px;
        line-height: 135%;
    }
    .metaverseItem {
        &.styled {
            .metaverseItem__header {
                &::before {
                    left: 24px;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1599px) {
    .metaverseItem {
        padding: 28px 32px 36px;
    }
    .metaverseItem__header {
        &::before {
            height: 80px;
            width: 80px;
            left: 40px;
            top: 36px;
        }
    }
    .metaverseItem__image {
        margin-bottom: 0px;
        height: 140px;
    }
    .metaverseItem__description {
        padding-right: 16px;

        font-size: 18px;
        line-height: 135%;
    }
    .metaverseItem {
        &.styled {
            .metaverseItem__header {
                &::before {
                    left: 24px;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .metaverseItem {
        padding: 8px 24px 32px;
    }
    .metaverseItem__description {
        padding-right: 0px;

        font-size: 18px;
        line-height: 135%;
    }
}